*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Poppins,sans-serif;
background:#F8F6F2;
color:#333;

}

nav{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 8%;

background:white;

position:sticky;

top:0;

z-index:999;

box-shadow:0 3px 15px rgba(0,0,0,.06);

}

.logo img{

height:58px;

}

nav ul{

display:flex;

gap:35px;

list-style:none;

}

nav a{

text-decoration:none;

color:#555;

}

.btn-nav{

background:#667A4E;

padding:12px 24px;

border-radius:10px;

color:white;

}

.hero{

background:url("assets/HERO.png");

background-size:cover;

background-position:center;

position:relative;

min-height:760px;

display:flex;

align-items:center;

}

.overlay{

position:absolute;

inset:0;

background:rgba(255,250,242,.62);

backdrop-filter:blur(1px);

}

.hero-content{

position:relative;

z-index:5;

max-width:1200px;

margin:auto;

padding:70px 8%;

display:flex;

align-items:center;

justify-content:space-between;

gap:70px;

}

.hero-left{

flex:1;

}

.hero-left h1{

font-size:70px;

color:#667A4E;

margin-bottom:10px;

}

.hero-left h2{

font-size:48px;

line-height:1.2;

margin-bottom:25px;

}

.hero-left p{

font-size:20px;

margin-bottom:40px;

max-width:560px;

}

.btn{

display:inline-block;

background:#667A4E;

padding:18px 40px;

border-radius:12px;

color:white;

text-decoration:none;

font-weight:600;

}

.hero-right{

flex:1;

text-align:center;

}

.hero-right img{

width:100%;

max-width:500px;

filter:drop-shadow(0 25px 40px rgba(0,0,0,.18));

transition:.35s;

}

.hero-right img:hover{

transform:translateY(-10px);

}

section{

max-width:1200px;

margin:auto;

padding:90px 8%;

}

section h2{

text-align:center;

font-size:40px;

margin-bottom:50px;

}

.cards{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

}

.card{

background:white;

padding:35px;

border-radius:18px;

text-align:center;

box-shadow:0 10px 30px rgba(0,0,0,.06);

}

.checklist{

max-width:700px;

margin:auto;

}

.checklist li{

margin:18px 0;

background:white;

padding:18px;

border-radius:12px;

list-style:none;

}

.cta{

background:#667A4E;

color:white;

border-radius:30px;

text-align:center;

}

.cta h2{

color:white;

}

.cta .btn{

background:white;

color:#667A4E;

margin-top:20px;

}

.accordion{

width:100%;

padding:22px;

margin-top:15px;

background:white;

border:none;

border-radius:12px;

cursor:pointer;

}

.panel{

display:none;

padding:20px;

background:white;

}

footer{

padding:50px;

background:#2E2E2E;

text-align:center;

color:white;

}

footer img{

height:55px;

margin-bottom:20px;

}

@media(max-width:900px){

.hero-content{

flex-direction:column;

text-align:center;

}

.hero-left h1{

font-size:42px;

}

.hero-left h2{

font-size:34px;

}

.cards{

grid-template-columns:1fr;

}

nav{

flex-direction:column;

gap:20px;

}

nav ul{

flex-direction:column;

text-align:center;

}

}
